CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_mi-router-4a-gigabit-v2=y

CONFIG_PACKAGE_coreutils-sort=y
CONFIG_PACKAGE_kmod-bonding=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-i18n-bonding-zh-cn=y
CONFIG_PACKAGE_luci-proto-bonding=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_proto-bonding=y
CONFIG_PACKAGE_xray-core=y
CONFIG_PACKAGE_luci-lib-fs=y
CONFIG_PACKAGE_vsftpd-alt=y
CONFIG_VSFTPD_USE_UCI_SCRIPTS=y
